<ul class="file-list">
  {{#each @tmpyFiles key="@index" as |tmpyFile|}}
    <li>
      {{#if tmpyFile.completed}}
        <a href={{tmpyFile.url}}>{{tmpyFile.file.name}}</a>
        <tmpy-clipboard @content={{tmpyFile.url}}></tmpy-clipboard>
      {{else}}
        <tmpy-progress @max={{tmpyFile.total}} @value={{tmpyFile.loaded}}>
          {{tmpyFile.file.name}}
          {{percent max=tmpyFile.total value=tmpyFile.loaded}}%
        </tmpy-progress>
      {{/if}}
    </li>
  {{/each}}
</ul>
