<ul class="file-list">
  {{#each @tmpyFiles key="@index" as |tmpyFile|}}
    <li>
      {{#if tmpyFile.completed}}
        <a href={{tmpyFile.url}}>{{tmpyFile.file.name}}</a>
        <tmpy-clipboard @content={{tmpyFile.url}}></tmpy-clipboard>
      {{else}}
        <tmpy-progress class={{if tmpyFile.progress.uploadStarted 'uploading' 'zipping'}}
            @percent={{tmpyFile.progress.percent}}>
          {{#if tmpyFile.file.name}}
            {{tmpyFile.file.name}}
          {{else}}
            {{tmpyFile.progress.zipCurrentFile}}
          {{/if}}
          {{tmpyFile.progress.percent}}%
        </tmpy-progress>
      {{/if}}
    </li>
  {{/each}}
</ul>
