{{#if showScript}}
  <div class="shell-script-dialog" onclick={{action toggleScript}}>
    <pre onclick={{action stopPropagation}}><code>{{script}}</code></pre>
  </div>
{{/if}}
<header>
  <div>
    <h1>tmpy - Sharing temporary files</h1>
    <p>Welcome to your friendly file sharing app</p>
  </div>
  <div>
    <button class="shell-script" onclick={{action toggleScript}}>
      >_
    </button>
  </div>
</header>
<main>
  <p>
    <small>Files are deleted automatically 15 minutes after the upload</small>
  </p>
  <!--
    maybe a small toggle with "zip" on the right
    on activate, slide in input with zip filename (default tmpy-archive.zip)
    Change drop area to a "zip brown box" which opens on dragover or focus
    -
    Or the toggle button could be a triple document or "zip-box"
    -
    Or two different dropping areas
    -
    Also show zipping progress, probably need to refactor file-list wrap tmpy-file
    and "zip progress object"
  -->
  <file-list @tmpyFiles={{tmpyFiles}}></file-list>
  <label class="zip-toggle">
    <input id="enableZip" class="toggle" type="checkbox" checked={{enableZip}} onchange={{action setEnableZip}}>
    <label for="enableZip"></label>
    .zip
  </label>
  <file-upload
      @dispatchTmpyAction={{action dispatch}}
      @zip={{enableZip}}></file-upload>
</main>