{{#if showScript}}
  <div class="shell-script-dialog" onclick={{action toggleScript}}>
    <pre onclick={{action stopPropagation}}><code>{{script}}</code></pre>
  </div>
{{/if}}
<header>
  <div>
    <h1>tmpy - Sharing temporary files</h1>
    <p>Welcome to your friendly file sharing app</p>
  </div>
  <div>
    <button class="shell-script" onclick={{action toggleScript}}>
      >_
    </button>
  </div>
</header>
<main>
  <p>
    <small>Files are deleted automatically 15 minutes after the upload</small>
  </p>
  <file-list @tmpyFiles={{tmpyFiles}} @onDelete={{action deleteFile}}></file-list>
  <label class="zip-toggle">
    <input id="enableZip" class="toggle" type="checkbox" checked={{enableZip}} onchange={{action setEnableZip}}>
    <label for="enableZip"></label>
    .zip
  </label>
  <file-upload
      @dispatchTmpyAction={{action dispatch}}
      @zip={{enableZip}}></file-upload>
</main>