<ul class="file-list">
  {{#each @tmpyFiles key="id" as |tmpyFile|}}
    <li class="tmpy-file tmpy-file-{{tmpyFile.progress.type}}">
      {{#if tmpyFile.completed}}
        <a href={{tmpyFile.url}}>
          {{~tmpyFile.name}}
          {{#if tmpyFile.size}}- {{file-size tmpyFile.size}}{{/if~}}
        </a>
        <TmpyClipboard class="copy" @content={{tmpyFile.url}}>📋</TmpyClipboard>
        <button class="delete" onclick={{action @onDelete tmpyFile}}>❌</button>
      {{else}}
        <TmpyProgress class="tmpy-progress-{{tmpyFile.progress.type}}"
            @percent={{tmpyFile.progress.percent}}>
          {{#if tmpyFile.name}}
            {{tmpyFile.name}}
          {{else}}
            {{tmpyFile.progress.currentFile}}
          {{/if}}
          {{#if tmpyFile.size}}- {{file-size tmpyFile.size}}{{/if}}
          {{precision tmpyFile.progress.percent 0}}%
        </TmpyProgress>
      {{/if}}
    </li>
  {{/each}}
</ul>
